<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{cart.css}">
</head>
<body>
<div class="background">
    <div class="header">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/shopping-cart}">
                    <ion-icon name="cart-outline" style="font-size: 40px"></ion-icon>
                </a>
            </div>
        </nav>
    </div>
    <!--content-->
    <div class="container">
        <div class="row row-cols-3" style="background-color: rgba(255, 255, 255, 0.8); border-radius: 10px; margin-top: 20px">
            <th:block th:each="product : ${productPages}">
                <div class="col">
                    <div class="prdImg">
                        <p>
                            <a th:href="@{/detail/__${product.id}__}">
                                <img th:src="@{'/' + ${product.img} + '.jpg'}" style="width: 200px; height: auto">
                            </a>
                        </p>
                    </div>
                    <div class="prdName">
                        <p th:text="${product.name}"></p>
                    </div>
                    <div class="prdPrice">
                        <p th:text="${product.price}"></p>
                    </div>
                    <div class="addCart">
                        <a th:href="@{/shop/add/__${product.id}__}">
                            <ion-icon name="bag-check"></ion-icon>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
</div>



<!--script bootstrap-->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>