<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<h1>Add new product</h1>
<form th:object="${product}" th:action="@{/product/create}" method="post">
    <table>
        <tr>
            <td>ID</td>
            <td>
                <input type="text" th:field="*{id}">
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}">
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <input type="text" th:field="*{price}">
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <input type="text" th:field="*{description}">
            </td>
        </tr>
        <tr>
            <td>Producer</td>
            <td>
                <input type="text" th:field="*{producer}">
            </td>
        </tr>
    </table>
    <button>Save</button>
</form>
</body>
</html>